.userName{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid gray;
}

.userName--Text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800px;
    font-size: 18px;
    color: rgb(71, 66, 66);
}

.HStack--box{
    height: 100vh;
    overflow: auto;
}